body{
    background: -webkit-radial-gradient(#1f1616, #333033);
    font-family: "Google Sans",sans-serif;
    
}
.title-image{
    
    margin-top: 200px;
    margin-left: 1000px;
    margin-right: auto;
    
}
#center{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 100px;
}
.container{
    position: fixed;
    top: 20%;
    left: 20%;
    
}
#button1,#button2, #button3 {
    margin-right: 3%;
    margin-left: 0%;
}
#hist-str{
    
    position: absolute;
    top: 35%;
    left: 5%;
    width: 800px;   
      
}
p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif; ;
    color: rgb(192, 185, 185);
    font-weight: 90px;
}
#h1{

    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    color: floralwhite;
    margin-top: 15px;
    border: 3px solid snow;
    width: 600px;
    position: absolute;
    left: 450px;    
    top: 0px;
}
